<mat-sidenav-container fxLayout="row" fxLayoutAlign="stretch" class="app-sidenav-container" [ngClass]="themeClass$ | async">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">Contacts</mat-toolbar>

    <mat-nav-list>
      <mat-list-item *ngFor="let user of users$ | async" [routerLink]="['/contactmanager', user.id]">
        <div matLine>
          <mat-icon svgIcon="{{user.avatar}}"></mat-icon> {{ user.name }}
        </div>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content class="app-sidenav-content">
    <app-toolbar (toogleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>